


            <div class="col-md-6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Mars Hemispheres</h3>
                            </div>
                            <div class="panel-body">
                                <div class="thumbnail" style="width: 50%; float:left;">
                                    <img src= {{data['Hemisphere Image URLs'][0].img_url}} alt="Hemisphere1">
                                    <div class="caption">
                                        <h4>{{data['Hemisphere Image URLs'][0].img_url]["title"] }}</h4>
                                    </div>
                                </div>
                                <div class="thumbnail" style="width: 50%; float:left;">
                                    <img src= {{data['Hemisphere Image URLs'][1].img_url}} alt="Hemisphere2">
                                    <div class="caption">
                                        <h4>{{data['Hemisphere Image URLs'][1].img_url}}</h4>
                                    </div>
                                </div>
                                <div class="thumbnail" style="width: 50%; float:left;">
                                    <img src= {{data['Hemisphere Image URLs'][2].img_url }} alt="Hemisphere3">
                                    <div class="caption">
                                        <h4>{{data['Hemisphere Image URLs'][2].img_url}}</h4>
                                    </div>
                                </div>
                                <div class="thumbnail" style="width: 50%; float:left;">
                                    <img src= {{data['Hemisphere Image URLs'][3].img_url}} alt="Hemisphere4">
                                    <div class="caption">
                                        <h4>{{data['Hemisphere Image URLs'][3].img_url}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

